* {
  box-sizing: border-box;
  font-family: 'Times New Roman', Times, serif;
 }
 
 body {
  background: url(assets/back.jpg) no-repeat;
  background-size: cover;
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
 }
 
 .header {
  background: rgb(0, 0, 0);
  color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 10vh;
 }
 
 .item {
  display: flex;
  flex-direction: column;
  align-items: center;
 }
 
 .app-icon {
  display: flex;
  align-items: center;
  font-size: 50px;
  color: blanchedalmond;
 }
 
 .content {
  margin-left: 8px;
  font-size: 70px;
  font-weight: 1000;
  color: transparent;
  text-align: center;
  font-size: 100px;
  font-weight: 600;
  background: url(/assets/background.jpg);
  -webkit-text-stroke: 2px #944700;
  background-clip: text;
  background-position: 0 0;
  animation: back 25s linear infinite;
}

@keyframes back{

  100%{
      background-position: 200% 0;
  }
}
 
 
 #container {
  display: flex;
  background: transparent;
  justify-content: center;
  align-items: center;
 }

 #container div{
  align-items: center;
  margin: 20px;
 }
 
 .showBooksBtn {
  background-color: rgb(0, 238, 255);
  color: #0c0c0c;
  border: none;
  padding: 10px 32px;
  font-size: 20px;
  margin-bottom: 30px;
  border-radius: 100px;
  margin-left: 230px;
  font-weight: 500;
  line-height: 3;
  transition: transform 250ms, box-shadow 250ms;
  box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.5);
  cursor: pointer;
 }

 .showBooksBtn:hover {
  box-shadow: 0 0 0 10px rgba(0, 0, 0, 0.5);
  transform: translateY(-5px);
 }
 
 .showArchiveBtn {
  background: lavenderblush;
  color: #000000;
  border: none;
  padding: 10px 32px;
  font-size: 20px;
  margin-bottom: 30px;
  border-radius: 100px;
  margin-left: 250px;
  font-weight: 500;
  line-height: 3;
  transition: transform 250ms, box-shadow 250ms;
  box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.5);
  cursor: pointer;
 }

 .showArchiveBtn:hover {
  box-shadow: 0 0 0 10px rgba(0, 0, 0, 0.5);
  transform: scale(1.05);
 }

 .btn-danger {
  background: transparent;
  margin-left: 5px;
  border: none;
  font-size: 15px;
  padding: 10px;
  color: rgb(0, 0, 0);
  cursor: pointer;
 }

 .btn-danger:hover{
  background: rgb(0, 238, 255);
 }

 .btn-archive{
  background: transparent;
  margin-left: 5px;
  border: none;
  font-size: 15px;
  padding: 10px;
  color: rgb(14, 15, 15);
  cursor: pointer;
 }

 .btn-archive:hover{
  background: rgb(192, 192, 255);
 }

 .list-containerArchive {
  width: 50%;
  margin-right: 20px;
 }

 .list-containerArchive div{
  transition: background-color 0.5s, transform 0.5;
 }

 .list-containerArchive div:hover{
  background-color: rgb(105, 230, 255);
  color: black;
  transform: translateY(-15px);
 }

 .list-containerlib {
  width: 50%;
  margin-left: 20px;
 }

 .list-containerlib div:hover {
  background: lavenderblush;
  transform: translateY(-15px);
 }

 #booklist{
  list-style-type: none;
  padding: 10px;
  margin-left: 100px;
  color: rgb(0, 238, 255);
  font-size: 23px;
  font-weight: 1000;
  cursor: pointer;
 }

 #archivelist{
  list-style-type: none;
  padding: 10px;
  margin-left: 200px;
  color: black;
  font-size: 23px;
  font-weight: 1000;
  cursor: pointer;
 }
 
 .card {
  border-radius: 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
}

#bookDetailsCard{
  padding: 20px;
}

#archiveDetailsCard {
  padding: 20px;
}

.card-body {
  padding: 20px;
}

.card-title {
  font-size: 20px;
  margin-bottom: 10px;
}

.card-text {
  font-size: 16px;
  line-height: 1.5;
  margin-bottom: 10px;
}
 .starter {
  width: 500px;
  background: transparent;
  border: 2px solid black;
  backdrop-filter: blur(20px);
  box-shadow: 0 0 10px rgba(0, 0, 0, .3);
  color: black;
  border-radius: 50px;
  padding: 10px;
  margin-right: 320px;
}

.starter h1 {
  text-align: center;
  font-size: 40px;
}

.starter .form-group {
  position: relative;
  width: 100;
  height: 100%;
  margin: 30px 0;
}


.form-group label{
  margin-left: 10px;
  font-size: 20px;
  font-weight: 600px;
  color: black;
}

.form-group input {
    width: 400px;
    height: 50px;
    border: none;
    outline: none;
    background: transparent;
    border: 1px solid black;
    border-radius: 50px;
    font-size: 20px;
    font-family: 'Times New Roman', Times, serif;
    padding-left: 20px;
}

.starter .btn {
    width: 100%;
    height: 50px;
    border: none;
    outline: none;
    background: rgb(19, 226, 253);
    border: 1px solid black;
    border-radius: 100px;
    font-size: 30px;
    font-family: 'Times New Roman', Times, serif;
    padding-left: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, .1);
    cursor: pointer;
    color: black;
    margin-top: 20px;
}