* {
  box-sizing: border-box;
  font-family: 'Times New Roman', Times, serif;
 }
 
 body {
  background: url(assets/back.jpg) no-repeat;
  background-size: cover;
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
 }
 
 .header {
  background: rgb(0, 0, 0);
  color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 10vh;
 }
 
 .item {
  display: flex;
  flex-direction: column;
  align-items: center;
 }
 
 .app-icon {
  display: flex;
  align-items: center;
  font-size: 50px;
  color: blanchedalmond;
 }
 
 .content {
  margin-left: 8px;
  font-size: 70px;
  font-weight: 1000;
  color: transparent;
  text-align: center;
  font-size: 100px;
  font-weight: 600;
  background: url(/assets/background.jpg);
  -webkit-text-stroke: 2px #b0fcff;
  -webkit-background-clip: text;
  background-position: 0 0;
  animation: back 25s linear infinite;
}

@keyframes back{

  100%{
      background-position: 200% 0;
  }
}
 
 
 #container {
  display: flex;
  background: transparent;
  justify-content: center;
  align-items: center;
 }

 #container div{
  align-items: center;
  margin: 20px;
 }
 
 .showBooksBtn {
  background-color: #333;
  color: #fff;
  border: none;
  padding: 10px 32px;
  font-size: 20px;
  margin-bottom: 30px;
  border-radius: 100px;
  margin-left: 230px;
  font-size: 20px;
  cursor: pointer;
 }
 
 .showArchiveBtn {
  background-color: #333;
  color: #fff;
  border: none;
  padding: 10px 32px;
  font-size: 20px;
  margin-bottom: 30px;
  border-radius: 100px;
  margin-left: 250px;
  font-size: 20px;
  cursor: pointer;
 }

 .btn-danger {
  background: transparent;
  margin-left: 5px;
  border: none;
  font-size: 15px;
  padding: 10px;
  color: rgb(0, 0, 0);
  cursor: pointer;
 }

 .btn-danger:hover{
  background: rgb(0, 238, 255);
 }

 .btn-archive{
  background: transparent;
  margin-left: 5px;
  border: none;
  font-size: 15px;
  padding: 10px;
  color: rgb(14, 15, 15);
  cursor: pointer;
 }

 .btn-archive:hover{
  background: rgb(192, 192, 255);
 }
 